body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.logo {
    width: 100px; /* Adjust as needed */
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2196f3;
    color: #ffffff;
    width: 100%;
    max-width: 200px;
}

button.hidden {
    display: none;
}

.popup {
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    display: none;
}

.popup span {
    display: block;
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust the gap as needed */
}


.address-result {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.address-result span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.address-result a {
    color: #2196f3;
    text-decoration: none;
}

.address-result a:hover {
    text-decoration: underline;
}
