body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1e1e1e;
    color: white;
}

#app {
    margin: 50px auto;
    max-width: 400px;
}

h1#title {
    font-size: 3em;
    margin-bottom: 20px;
}

#balance-section {
    margin-bottom: 30px;
}

#tap-section img {
    width: 150px;
    cursor: pointer;
    margin-bottom: 20px;
}

button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    color: #1e1e1e;
}

button:hover {
    background-color: #ffd633;
}

#airdrop-section {
    margin-top: 30px;
}